examples/fetch-dynamic-ess.json
[
    {
        "id": "5999fb9f53a5c90c",
        "type": "victron-output-settings",
        "z": "54d9d7570b69ec63",
        "service": "com.victronenergy.settings",
        "path": "/Settings/CGwacs/AcPowerSetPoint",
        "serviceObj": {
            "service": "com.victronenergy.settings",
            "name": "com.victronenergy.settings",
            "paths": [
                {
                    "path": "/Settings/CGwacs/AcPowerSetPoint",
                    "type": "float",
                    "name": "ESS control loop setpoint (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/BatteryLife/MinimumSocLimit",
                    "type": "float",
                    "name": "ESS Minimum SoC (unless grid fails) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/BatteryLife/State",
                    "type": "enum",
                    "name": "ESS BatteryLife state",
                    "enum": {
                        "0": "Unused, BL disabled",
                        "1": "Restarting",
                        "2": "Self-consumption",
                        "3": "Self-consumption",
                        "4": "Self-consumption",
                        "5": "Discharge disabled",
                        "6": "Force charge",
                        "7": "Sustain",
                        "8": "Low Soc Recharge",
                        "9": "Keep batteries charged",
                        "10": "BL Disabled",
                        "11": "BL Disabled (Low SoC)",
                        "12": "BL Disabled (Low SOC recharge)"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/SystemSetup/MaxChargeCurrent",
                    "type": "float",
                    "name": "DVCC system max charge current (A DC)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/Hub4Mode",
                    "type": "enum",
                    "name": "ESS Mode",
                    "enum": {
                        "1": "ESS with Phase Compensation",
                        "2": "ESS without phase compensation",
                        "3": "Disabled/External Control"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxChargePercentage",
                    "type": "float",
                    "name": "ESS max charge current (fractional) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxDischargePercentage",
                    "type": "float",
                    "name": "ESS max discharge current (fractional) (%)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxDischargePower",
                    "type": "float",
                    "name": "ESS max discharge current (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/MaxFeedInPower",
                    "type": "float",
                    "name": "Maximum System Grid Feed In (W)",
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/OvervoltageFeedIn",
                    "type": "enum",
                    "name": "Feed excess DC-coupled PV into grid",
                    "enum": {
                        "0": "Don’t feed excess DC-tied PV into grid",
                        "1": "Feed excess DC-tied PV into the grid"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/CGwacs/PreventFeedback",
                    "type": "enum",
                    "name": "AC-coupled PV - grid feed in excess",
                    "enum": {
                        "0": "Feed excess AC-tied PV into grid",
                        "1": "Don’t feed excess AC-tied PV into the grid"
                    },
                    "writable": true
                },
                {
                    "path": "/Settings/SystemSetup/MaxChargeVoltage",
                    "type": "float",
                    "name": "Limit managed battery voltage (V DC)",
                    "writable": true
                }
            ]
        },
        "pathObj": {
            "path": "/Settings/CGwacs/AcPowerSetPoint",
            "type": "float",
            "name": "ESS control loop setpoint (W)",
            "writable": true
        },
        "name": "",
        "x": 970,
        "y": 240,
        "wires": []
    },
    {
        "id": "ec317b50f856de92",
        "type": "victron-scheduled-charging",
        "z": "54d9d7570b69ec63",
        "name": "Dynamic ESS VRM site",
        "vrmtoken": "",
        "vrmid": "",
        "country": "nl",
        "b_max": "56",
        "fb_max": "5.5",
        "tb_max": "5.5",
        "fg_max": "15",
        "tg_max": "15",
        "b_cost": "0.0415",
        "p_offset": "0.0",
        "longitude": "4.7",
        "latitude": "52.5",
        "verbose": true,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "14b5095e69d0c786",
                "5999fb9f53a5c90c"
            ],
            [
                "fd3adec04c526669",
                "61132c211cf85c46",
                "9a8d969721bce682",
                "aaad38fd523a39f0",
                "4c98aba1240eb91a"
            ]
        ]
    },
    {
        "id": "9bab60c0b2168a4d",
        "type": "inject",
        "z": "54d9d7570b69ec63",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://vrm-smart-scheduling-api.k.elnino-production.com/",
                "vt": "str"
            }
        ],
        "repeat": "2400",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 320,
        "wires": [
            [
                "ec317b50f856de92"
            ]
        ]
    },
    {
        "id": "14b5095e69d0c786",
        "type": "debug",
        "z": "54d9d7570b69ec63",
        "name": "Setpoint",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 200,
        "wires": []
    },
    {
        "id": "fd3adec04c526669",
        "type": "debug",
        "z": "54d9d7570b69ec63",
        "name": "Scheduled charging",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "c0ec7e6fcc75d1ba",
        "type": "group",
        "z": "54d9d7570b69ec63",
        "name": "Visualisation",
        "style": {
            "label": true
        },
        "nodes": [
            "61132c211cf85c46",
            "fa5a1b5541d667c0",
            "e3081a4f2ca7e3a4",
            "9a8d969721bce682",
            "aaad38fd523a39f0",
            "8718e34290f2dcf8",
            "4c98aba1240eb91a",
            "65329dc5faddf9ac"
        ],
        "x": 734,
        "y": 399,
        "w": 492,
        "h": 202
    },
    {
        "id": "61132c211cf85c46",
        "type": "function",
        "z": "54d9d7570b69ec63",
        "g": "c0ec7e6fcc75d1ba",
        "name": "Chart the output",
        "func": "const chart = [{\n    \"series\": [\"PV yield\", \"Consumption\", \"Battery\"],\n    \"data\": [\n        Object.values(msg.payload.output.PV),\n        Object.values(msg.payload.output.C),\n        Object.values(msg.payload.output.B),\n        ],\n    \"labels\": Object.keys(msg.payload.schedule)\n}]\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 440,
        "wires": [
            [
                "fa5a1b5541d667c0"
            ]
        ]
    },
    {
        "id": "fa5a1b5541d667c0",
        "type": "ui_chart",
        "z": "54d9d7570b69ec63",
        "g": "c0ec7e6fcc75d1ba",
        "name": "",
        "group": "e63d8cc1b3ac4f7a",
        "order": 0,
        "width": "12",
        "height": "6",
        "label": "Estimations (in kWh)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#f7ab3e",
            "#f9716e",
            "#4890d0",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "e3081a4f2ca7e3a4",
        "type": "ui_chart",
        "z": "54d9d7570b69ec63",
        "g": "c0ec7e6fcc75d1ba",
        "name": "",
        "group": "e63d8cc1b3ac4f7a",
        "order": 0,
        "width": "12",
        "height": "6",
        "label": "Energy Usage (in kWh)",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#f9716e",
            "#4890d0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9a8d969721bce682",
        "type": "function",
        "z": "54d9d7570b69ec63",
        "g": "c0ec7e6fcc75d1ba",
        "name": "Chart the output",
        "func": "const chart = [{\n    \"series\": [\"Grid usage\", \"Battery usage\"],\n    \"data\": [\n        Object.values(msg.payload.output.g),\n        Object.values(msg.payload.output.b),\n        ],\n    \"labels\": Object.keys(msg.payload.schedule)\n}]\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 480,
        "wires": [
            [
                "e3081a4f2ca7e3a4"
            ]
        ]
    },
    {
        "id": "aaad38fd523a39f0",
        "type": "function",
        "z": "54d9d7570b69ec63",
        "g": "c0ec7e6fcc75d1ba",
        "name": "Chart the output",
        "func": "const chart = [{\n    \"series\": [\"Price\"],\n    \"data\": [\n        Object.values(msg.payload.output.p),\n        ],\n    \"labels\": Object.keys(msg.payload.schedule)\n}]\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 520,
        "wires": [
            [
                "8718e34290f2dcf8"
            ]
        ]
    },
    {
        "id": "8718e34290f2dcf8",
        "type": "ui_chart",
        "z": "54d9d7570b69ec63",
        "g": "c0ec7e6fcc75d1ba",
        "name": "",
        "group": "e63d8cc1b3ac4f7a",
        "order": 0,
        "width": "12",
        "height": "6",
        "label": "Day-ahead Prices (in €/kWh)",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": true,
        "colors": [
            "#c9c9c9",
            "#eb7100",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1080,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4c98aba1240eb91a",
        "type": "function",
        "z": "54d9d7570b69ec63",
        "g": "c0ec7e6fcc75d1ba",
        "name": "Chart the output",
        "func": "const chart = [{\n    \"series\": [\"Grid costs\", \"Battery costs\"],\n    \"data\": [\n        Object.values(msg.payload.output.g_cost),\n        Object.values(msg.payload.output.b_cost),\n        ],\n    \"labels\": Object.keys(msg.payload.schedule)\n}]\n\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 560,
        "wires": [
            [
                "65329dc5faddf9ac"
            ]
        ]
    },
    {
        "id": "65329dc5faddf9ac",
        "type": "ui_chart",
        "z": "54d9d7570b69ec63",
        "g": "c0ec7e6fcc75d1ba",
        "name": "",
        "group": "e63d8cc1b3ac4f7a",
        "order": 0,
        "width": "12",
        "height": "6",
        "label": "Usage costs (in €)",
        "chartType": "bar",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": true,
        "useUTC": true,
        "colors": [
            "#f9716e",
            "#4890d0",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1050,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "e63d8cc1b3ac4f7a",
        "type": "ui_group",
        "name": "Dynamic ESS",
        "tab": "7f69b1dfcd36ba41",
        "order": 2,
        "disp": true,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f69b1dfcd36ba41",
        "type": "ui_tab",
        "name": "Scheduled charging",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
